 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-lg-offset-2">
                    <p>I’m a full stack developer, with a background in Music Technology, who enjoys building applications of all types! I have experience in building applications using Ruby, Javascript and Swift 3.</p>
                    <p>Have a look at my projects if you are interested and follow my blog to keep up to date with what I am currently working on.</p>

                </div>
            </div>
        </div>
    </section>
