
    <!-- Music Grid Section -->
    <section id="music">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Music</h2>
                    <hr class="star-primary">
                </div>
            </div>

              <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/3806031&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              <iframe style="border: 0; width: 50%; height: 274px;" align="left" src="https://bandcamp.com/EmbeddedPlayer/album=4244027549/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://jameshamann.bandcamp.com/album/odds-and-ends">Odds and Ends by James Hamann</a></iframe>
              <iframe style="border: 0; width: 50%; height: 274px;" align="right" src="https://bandcamp.com/EmbeddedPlayer/album=4266393367/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://jameshamann.bandcamp.com/album/the-end">The End by James Hamann</a></iframe>
              <iframe style="border: 0; width: 50%; height: 274px;" align="left" src="https://bandcamp.com/EmbeddedPlayer/album=3920764704/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://jameshamann.bandcamp.com/album/puzzles">Puzzles by James Hamann</a></iframe>
              <iframe style="border: 0; width: 50%; height: 274px;" align="right" src="https://bandcamp.com/EmbeddedPlayer/album=3901560730/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://jameshamann.bandcamp.com/album/autumn">Autumn by James Hamann</a></iframe>

            </div>
        </div>
    </section>
